// Sass Variables

// Colors
$primary: #b3cde0;
$secondary: #005b96;
$black: #000;
$white: #fff;

// Brights
$alert: #dc3545;
$warning: #ffc107;
$success: #28a745;
$info: #6497b1;

// Greyscale
$grey-1: #f8f9fa;
$grey-2: #eaeaea;
$grey-3: #d5d5d5;
$grey-4: #c0c0c0;
$grey-5: #ababab;
$grey-6: #6c6c6c;
$grey-7: #424242;
$grey-8: #3b3b3b;
$grey-9: #2d2d2d;
