<!DOCTYPE html>
<html>
<head>
    <title>Dot Game</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <header>
    <div>
      <h1>SpaceBalls</h1>
      <h2>
        Score: <span id="playerScore">0</span>
      </h2>
    </div>
    <div>
      <label for="speedSlider">Speed:</label>
      <input type="range" min="10" max="100" value="50" id="speedSlider" class="slider">
    </div>
  </header>
  <main id="gameZone">
  </main>
  <script src="/index.js"></script>
</body>
</html>
